html,
body {

    margin: 0;
    padding: 0;

    min-height: 100vh;

    font-family: Arial;

    background: linear-gradient(135deg, #102018, #1f6b3a);

    display: flex;
    flex-direction: column;
    align-items: center;

    background-size: cover;
    background-position: center;

    transition: 1s;

}

/* SCORE */

.box {

    margin-top: 20px;

    background: rgba(255,255,255,0.2);

    padding: 10px 25px;

    border-radius: 20px;

    color: white;

    backdrop-filter: blur(10px);

}

/* TOP BUTTONS */

.topButtons {

    margin-top: 15px;

}

/* START SCREEN */

#startScreen {

    margin-top: 100px;

    text-align: center;

    color: white;

}

/* SELECT */

select {

    padding: 10px;

    border-radius: 10px;

    margin: 10px;

    font-size: 16px;

}

/* QUIZ BOX */

.question {

    width: 90%;
    max-width: 500px;

    margin-top: 25px;

    padding: 25px;

    border-radius: 25px;

    background: rgba(255,255,255,0.15);

    text-align: center;

    color: white;

    backdrop-filter: blur(10px);

    transition: 0.5s;

}

/* IMAGE */

#animeImage {

    width: 100%;

    max-height: 220px;

    object-fit: cover;

    border-radius: 20px;

    margin-bottom: 15px;

}

/* BUTTONS */

button {

    width: 120px;
    height: 50px;

    margin: 8px;

    border: none;

    border-radius: 12px;

    background-color: #5fa97a;

    color: white;

    font-size: 15px;

    font-weight: bold;

    cursor: pointer;

    transition: 0.3s;

}

/* HOVER */

button:hover {

    transform: scale(1.05);

    box-shadow: 0px 0px 15px lime;

}

/* MOBILE CLICK */

button:active {

    transform: scale(0.92);

}

/* COLORS */

#timer {

    color: gold;

}

#progress {

    color: lightblue;

}

#highScore {

    color: lime;

}

#streak {

    color: orange;

}

/* MOBILE */

@media (max-width: 600px) {

    button {

        width: 100%;

    }

}

/* XP BAR */

.xpContainer {

    width: 100%;

    height: 25px;

    background: rgba(255,255,255,0.2);

    border-radius: 20px;

    overflow: hidden;

    margin-bottom: 20px;

}

#xpBar {

    width: 0%;

    height: 100%;

    background: linear-gradient(to right, cyan, blue);

    transition: 0.5s;

}

#levelText {

    color: cyan;

}

input {

    padding: 12px;

    border-radius: 12px;

    border: none;

    margin: 15px;

    width: 220px;

    font-size: 16px;

    text-align: center;

}