html, body {

    margin: 0;
    padding: 0;

    min-height: 100vh;

    font-family: Arial;

    background: linear-gradient(135deg, #102018, #1f6b3a);

    display: flex;
    flex-direction: column;
    align-items: center;

}

/* SCORE */

.box {

    margin-top: 20px;

    background: rgba(255,255,255,0.2);

    padding: 10px 25px;

    border-radius: 20px;

    color: white;

}

/* TOP BUTTONS */

.topButtons {

    margin-top: 15px;

}

/* QUIZ */

.question {

    width: 90%;
    max-width: 500px;

    margin-top: 25px;

    padding: 25px;

    border-radius: 25px;

    background: rgba(255,255,255,0.15);

    text-align: center;

    color: white;

}

/* BUTTONS */

button {

    width: 120px;
    height: 50px;

    margin: 8px;

    border: none;

    border-radius: 12px;

    background-color: #5fa97a;

    color: white;

    font-size: 15px;

    font-weight: bold;

    cursor: pointer;

    transition: 0.3s;

}

/* HOVER */

button:hover {

    transform: scale(1.05);

}

/* MOBILE CLICK */

button:active {

    transform: scale(0.92);

}

/* MOBILE */

@media (max-width: 600px) {

    button {

        width: 100%;

    }

}